.cards-container {
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(1, 1fr); // By default, 1 card in a row for mobile views
  gap: 16px;

  @media (min-width: 600px) {
    // Adjust these breakpoints as needed
    grid-template-columns: repeat(2, 1fr); // 2 cards in a row for tablets
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr); // 4 cards in a row for desktop views
  }
}
