<mat-card>
    <mat-card-title>{{ data.game }}</mat-card-title>
    <mat-card-subtitle>Bookmaker: {{ data.bookmaker_key }}</mat-card-subtitle>
    <mat-card-content>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Team</th>
                    <th class="right-content">Spread</th>
                    <th class="right-content">Total</th>
                    <th class="right-content">Money Line</th>
                    <th>Last Update</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ data.home_team_data.team_name }}</td>
                    <td class="right-content">
                        {{ data.home_team_data.spread_point }}<br>
                        {{ data.home_team_data.spread_price }}
                    </td>
                    <td class="right-content">
                        <ng-container *ngIf="data.home_team_data.total_point_under">
                            {{ data.home_team_data.total_point_under }}<br>
                        </ng-container>
                    
                        <ng-container *ngIf="data.home_team_data.total_price_under">
                            {{ data.home_team_data.total_price_under }}<br>
                        </ng-container>
                    
                        <ng-container *ngIf="data.home_team_data.total_point_over">
                            {{ data.home_team_data.total_point_over }}<br>
                        </ng-container>
                    
                        <ng-container *ngIf="data.home_team_data.total_price_over">
                            {{ data.home_team_data.total_price_over }}
                        </ng-container>
                    </td>
                    <td class="right-content">{{ data.home_team_data.money_line }}</td>
                    <td class="centered-content">{{ data.home_team_data.market_last_update | date: "short"}}</td>
                </tr>
                <tr>
                    <td>{{ data.away_team_data.team_name }}</td>
                    <td class="right-content">
                        {{ data.away_team_data.spread_point }}<br>
                        {{ data.away_team_data.spread_price }}
                    </td>
                    <td class="right-content">
                        <ng-container *ngIf="data.away_team_data.total_point_under">
                            {{ data.away_team_data.total_point_under }}<br>
                        </ng-container>
                    
                        <ng-container *ngIf="data.away_team_data.total_price_under">
                            {{ data.away_team_data.total_price_under }}<br>
                        </ng-container>
                    
                        <ng-container *ngIf="data.away_team_data.total_point_over">
                            {{ data.away_team_data.total_point_over }}<br>
                        </ng-container>
                    
                        <ng-container *ngIf="data.away_team_data.total_price_over">
                            {{ data.away_team_data.total_price_over }}
                        </ng-container>
                    </td>
                    <td class="right-content">{{ data.away_team_data.money_line }}</td>
                    <td class="centered-content">{{ data.away_team_data.market_last_update | date: "short"}}</td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
    <!--
    <mat-card-actions>
        <button mat-button (click)="placeBet()">Bet</button>
    </mat-card-actions>
    -->
</mat-card>