mat-card {
    box-shadow: none;
    border:#3082c9;
    zoom: 100%;
}

mat-card-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

mat-card-title,
mat-card-subtitle {
    text-align: center;
}

mat-card-title {
    font-size: 14px;
}

mat-card-subtitle {
    font-size: 12px;
}

.card-spacing {
    margin: 1px;
}

.styled-table {
    border-collapse: collapse;
    margin: 1px;
    font-size: 0.77em;
    font-family: sans-serif;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #3082c9;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 1px 3px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #3082c9;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.centered-content {
    text-align: center;
    vertical-align: middle;
}

.right-content {
    text-align: right;
    vertical-align: middle;
}