<table style="border: 1px;">
    <tr>
        <td><span>Title</span></td>
        <td><span>Commence Time</span></td>
        <td><span>Home Team</span></td>
        <td><span>Away Team</span></td>
        <td><span>Bookmaker</span></td>
        <td><span>Market Key</span></td>
        <td><span>Last Update</span></td>
        <td><span>Outcome Name</span></td>
        <td><span>Price</span></td>
        <td><span>Point</span></td>
    </tr>
    <div *ngFor="let d of table_data ">
        <tr>
            <td><span>{{ d.sport_title }}</span></td>
            <td><span>{{ d.commence_time }}</span></td>
            <td><span>{{ d.home_team }}</span></td>
            <td><span>{{ d.away_team }}</span></td>
            <td><span>{{ d.bookmaker }}</span></td>
            <td><span>{{ d.market_key }}</span></td>
            <td><span>{{ d.market_last_update }}</span></td>
            <td><span>{{ d.outcome_name }}</span></td>
            <td><span>{{ d.price }}</span></td>
            <td><span>{{ d.point }}</span></td>
        </tr>
    </div>
</table>