<mat-toolbar class="mat-elevation-z8">
  <!--MENU-->
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Application Menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
   <button [disabled]="!loggedIn" mat-menu-item routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>My profile</span>
    </button>
    <mat-divider></mat-divider>
    <button [disabled]="!loggedIn" mat-menu-item routerLink="/recharge">
      <mat-icon>attach_money</mat-icon>
      <span>Recharge</span>
    </button>
    <button [disabled]="!loggedIn" mat-menu-item routerLink="/transaction">
      <mat-icon>history</mat-icon>
      <span>Transaction history</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/support">
      <mat-icon>help_outline</mat-icon>
      <span>Contact support</span>
    </button>
  </mat-menu>

  <!--LOGO-->
  <!--
  <mat-icon>phone</mat-icon>
  <span>&nbsp;&nbsp;</span>
  -->
  <span>BETAPP</span>

  <span class="spacer"></span>
  <!--User name, balance, login/out button-->
  <span *ngIf="loggedIn" class="username">
    {{ userName }} Balance {{ accountBalance }}
  </span>
  <span>&nbsp;&nbsp;</span>
  <button mat-icon-button color="warn">
    <mat-icon *ngIf="!loggedIn" (click)="signIn()">key</mat-icon>
    <mat-icon *ngIf="loggedIn" (click)="signOut()">logout</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>